@model BookListItemEditViewModel
@{
    ViewData["Title"] = "Edit ";
}


  <form method="post" asp-controller="BookList" asp-action="BookListItemEdit">
    <input asp-for="@Model.UserId" hidden />
    <input asp-for="@Model.BookId" hidden />
    <div class="form-group">
      <label asp-for="@Model.Progress"></label>
      <select asp-for="@Model.Progress" asp-items="@Model.ProgressList"></select>
    </div>
    <div class="form-group">
      <label asp-for="@Model.Mark"></label>
      <select asp-for="@Model.Mark" asp-items="@Model.MarkList"></select>
    </div>
    <div class="form-group">
      <label asp-for="@Model.Review"></label>
      <textarea rows="10" asp-for="@Model.Review">
        @Model.Review
      </textarea>
    </div>
    <button type="submit" class="btn-default" value="BookListItemEdit">Save</button>
  </form>