@model AuthorViewModel
@{
  ViewData["Title"] = Model.Name;
}

<div class="row">
  <div class="col-md-5">
    <h2>@Model.Name</h2>
    <img class="card-img-top" src="@("/images/" + Model.Image)" alt="Card image" style="width:100%; text-align:center" />
  </div>

  <div class="col-md-3">
    <h3> Author ratigns : @Model.Popularity</h3>
    <h3> Description :</h3> <p> @Model.Description</p>
    <ul>
      @foreach (var book in Model.Books)
      {
        <li style="color: white">List of Books : </li>
        <li><a asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@book.BookId">@book.Name</a></li>
      }
    </ul>
  </div>
</div>